<td><a href="{{url}}" target="_blank">{{url}}</td>
<td>{{device}}</td>
<td>{{title}}</td>
<td>{{keywords}}</td>
<td>{{description}}</td>
<td>{{canonical}}</td>
<td>{{prev}}</td>
<td>{{next}}</td>
<td>{{author}}</td>
